:root {
  --nav-bg: #3e75cf;
  --block-bg: #3e75cf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
    display: flex;
    width: 100vw;
    height: 5vh;
    background-color: var(--block-bg);
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    a{ 
      border-width: .5rem;
      width: 5rem;
      height: 5rem; 
      border-radius: 1rem;
      background-color: var(--nav-bg);
      position: fixed;
      top: 8vh; 
      right: 3vw;
    
      display: flex; 
      align-items: center;
      justify-content: center;
      img {
        height: 80%;
        width: 80%;
      }
    }
    button {
      width: 50%
    }
    button:hover {
      filter: brightness(0.9)
    }
   
}


  main {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    min-height: 100vh;
    width: 100%;
    background-image: url(images/gradient.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;   
    section {
      display: grid; 
      grid-template-columns: 1fr 1fr;
      column-gap: 1rem;
      
      img {
        width: auto;
        height: 25vh;
        width: auto;
      }
     
      div {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        background-color: cadetblue;
        h3 {
          padding-block: .2rem;
        }
      }
    }
    section > *:only-child {
      grid-column: 1 / -1;
      justify-self: center;
    }
    article {
     color: white;
     width: 50vw;
     font-size: 1.5rem;
     margin-top: 10vh;
     li {
      margin-left: 3vw;
     }
     a {
      color: white;
     }
    }
  }
  body {
    width: 100vw;
    height: 100vh;
    left: 0;
  }

body, html {
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
}
@media(max-width: 650px){
  nav{
    bottom: 0;
    top: auto;
    height: 10vh;
    a{
      top: auto;
      bottom: 13vh;
      right: 5vw;
      height:3rem;
      width: 3rem;
      text-align: center;
      
    }
    button {
      font-size: 1.3rem;
    }
  }
  main {
      article {
        width: 90vw;
        font-size: 1.2rem;
        margin-bottom: 15vh;
      }
  }
}

.slider-wrapper {
  position: relative;
  max-width: 48rem;
  margin: 1rem auto;
}

.slider {
  display: flex;
  flex-direction: row;
  aspect-ratio: 16/9;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25) ;
  border-radius: 0.5rem;

  img {
    flex: 1 0 100%;
    scroll-snap-align: start;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  a{
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 250ms;
  }
}

.slider-nav a:hover {
  opacity: 100%;
}



