:root {
  --nav-bg: #3e75cf;
  --block-bg: #3e75cf;
}


nav {
    display: flex;
    width: 100vw;
    height: 5vh;
    background-color: var(--block-bg);
    justify-content: space-around;
    position: absolute;
    top: 0;
    left: 0;
    a{ 
      border-width: .5rem;
      flex-basis: 1;
      background-color: var(--nav-bg);
    
      display: flex; 
      align-items: center;
    }
  }
  p {
    font-weight: bold;
    font-size: 50rem;
  }
  body {
    
    width: 100vw;
    height: 100vh;
  }