

:root {
  --block-bg: #274a82;
  --spacing: 300px;
}

canvas {
  position: fixed; 
  top: 0; 
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: auto; 
  z-index: 0;
}

#debug {
  position: fixed;
  left: 1rem;
  top: 1rem;
  z-index: 102;
}

main {
  width: 95vw;
  color: white;
  z-index: 99;
  position: absolute;
  margin: 0px auto;
  padding: 120px 0px;

  display: grid; 
  grid-template-columns: repeat(12, 1fr);
}

section {
  margin-bottom: var(--spacing);
  background: var(--block-bg);
  grid-column: 2 / span 5;
  Padding: 2rem;
  font-size: 1.5rem;
}


header {
  background: var(--block-bg);
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 2rem; 
  margin-bottom: var(--spacing)
}

#aboutme {
  background: var(--block-bg);
  
}
#projects a:visited {
  color: white
}




